/*** media queries ***/
/* Small devices */
@media (min-width : 320px ) and (max-width : 767.98px ) { 
    /*** général ***/

body {
    max-width: 767.98px;
    min-width: 320px ; }

/* * { margin:0px; } */

.main-container { padding: 0px;}
/* padding: 0px 20px 0px 20px; */



/*** Header ***/
.header-nav {
    display:flex;
    flex-direction: column; 
    height: fit-content;
}



/*** Recherche ***/
.search-mobile {
    display: inline-block;  /* Afficher le bouton */
}

.search {   
    display: none;  /* Masquer le bouton */
}



/*** Filter ***/
.filter-bar {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px; 
    height: fit-content;
    max-width: initial;
}

.filter-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
 }


 /*** Hébergements & populaires ***/
.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
}

/*** Populaires ***/
/*** Hébergements ***/



/*** Activités ***/
.activites {
    display: flex;
    flex-direction: column;
}

.activites-cards {
    display: flex;
    flex-direction: column;
}

}