/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    /* Mettre 0 sur margin car sur les éléments HTML dans google chrome ajoute 8px par défaut */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


/*** Header ***/ 
.header-nav {
    display: flex; justify-content: space-between; 
    height: 79px; 
    margin-bottom: 30px;
    width: 100%;

/* un conteneur flexbox horizontal avec logo et nav distribués de manière égale et espacée, 
   tout avec hauteur 79px , espace entre header et intro de 30px*/ 
} 


.logo-box {
    padding: 30px 0px; 

    /* un rembourrage vertical 30px et horizontal 0 pixel à gauche et à droite */
}  

.logo-booki {
    width: 61.09px;
    height: 19px;                                     
}


.nav-list-container{ 
    display: flex ; 
    justify-content: space-between; 
} 

.nav-list { 
    height: 35px; 
    width: 100%;                                       /* width: 244px;  */
    display:flex; 
    list-style-type: none; 
    gap: 68px;                                         /* gap : Espace entre les éléments */
    }

.nav-list li :hover { 
    width:20px; 
    color: #0065FC; 
    border-top: 3px solid #0065FC;                    /* border-top en version desktop --- border-bottom en version Mobile */
    padding-top: 14px;                                  /* padding-top : un rembourrage de 15px en haut */
                                                        /* Hover: ajouter de l'interactivité en bleu au survol de la souris */                                                     
} 



/*** intro de la page ***/
.intro-page {
    display: flex; 
    flex-direction: column;                             
    /* h2 et p seront disposés verticalement */  }

p { 
    margin-top: 8px;
    margin-bottom: 0px;
    /* l'espace en haut entre p et h2  */ }                                    
                                  

/*** Recherche ***/
.search-form {  
    display: flex; align-items: center; 
    height: 49px; } 


.search-bar {
    display: flex; flex-direction: row;                 
    height: 49px; 

/* disposés horizontalement dans la même ligne */
/* + width: 377px; rendre box icone plus petite & gap: 24px; barre plus large*/  }                                  
 

/* icon localisation */
.icon-box { 
    height: 49px ; width: 50px;  
    background-color: #F2F2F2; 
    border-radius: 15px 0px 0px 15px;}

i.fa-solid.fa-location-dot { 
    height: 18px; width: 14px; 
    margin-top: 15px; margin-left: 18px; 
    color: #000000;}


/* input */
.search-city { 
    width: fit-content; 
/*  pour ajuster la largeur au contenu */ }                                

.search-city input { 
    height: 45px;
    font-weight: 700; font-size: 18px; line-height: 21.13px;
    border :none; outline: none; 
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    text-align: center;} 


/* Bouton de recherche  */
.search {   
    height: 49px; width: 132px; 
    background-color: #0065FC; 
    color:#FFFFFF; font-size: 18px; line-height: 21.13px; font-weight: 700;
    border: 1px #0065FC; border-radius: 0px 15px 15px 0px; }

.search-mobile {
    height: 49px; width: 49px; 
    border: 1px solid #0065FC ; border-radius: 15px;
    padding: 15px 16px; 
    background: #0065FC;
    display: none;                                      /* Masquer le bouton */
    /* display: inline-block; */                        /* Afficher le bouton */
}

/* icône Loupe */
i.fa-solid.fa-magnifying-glass{
     color: #FFFFFF;
    height: 17px; width: 17px; }
                                


/*** filter ***/
.filter-bar {   
    max-width: 758px;
    height: 50px;
    gap: 15px; 
    display: flex; align-items: center;

    /* largeur max pour s'adapter aux dif écrans, pour éviter qu'il ne devienne trop large, 
       hauteur 50px, espace entre les elements 15px, centrer tout */ }                                                

.filter-bar h2 {
    font-size: 18px;
    /* size de h2 */ }                                            

.filter-container { 
    width: 100%;
    height: 50px;
    display: flex; justify-content: space-between; 

    /* largeur 100% Occupe toute la largeur dispo dans la barre de filtres (conteneur parent)*/
    /* flex pour aligner les éléments de manière espacée horizontalement */   }

.filter {   
    display: flex; align-items: baseline;
    gap: 10px;
    border: #D9D9D9 solid 2px; border-radius: 25px;
    padding: 4px 19px 4px 19px; 

    /* gap 10px espace entre icône et txt */
    /* baseline : aligne les éléments flexibles en utilisant leur ligne de base comme référence*/ }

.filter p { 
    font-size: 18px; 
    font-weight: 700; 
    /* font-weight : txt en gras (bold) */ }                                         
           
.filter i { 
    font-size: 22px; }

.filter-container :hover {
    background-color: #DEEBFF;}     



/*** Info Bar ****/
.info-bar { 
    display: flex; align-items: baseline;
    gap: 10px; 

    /* assure que l'icône et le txt de .info-bar soient alignés de manière Cohérent, 
       en fonction de leur ligne de base respective */
    /* gap 10px entre icone et txt */
      } 
   

/* icône info */
i.fa-solid.fa-info { 
    border: 1px solid #D9D9D9; border-radius: 50%;
    text-align: center;
    width: 16px;  padding: 8px;                        
            
    /* l'icône a une taille fixe de l'icône 16px, c utile pour 
       maintenir une cohérence visuelle avec d'autres éléments de la page */
    /* padding 8px ajoute un espace autour de l'icône, la rendant plus visible */ }


.intro-page, .search-form, .filter-bar, .info-bar { 
    margin-bottom: 35px;   

    /* dans la maquette gap 35px -> espace en bas entre les élements verticalement 
       + espace entre info bar et main */ 
 }

a {
    color: inherit;
    text-decoration: none;}


.section-title {
    margin: 0;
    font-size: 22px;}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: transform 0.3s ease-in-out; 

    /* Drop shadow : une ombre qui suit la forme de l'élément, y compris les zones transparentes */ 
    /* Transition : pour l'animation,'transform' Pour créer l'effet de zoom */
}

.card:hover {
    transform: scale(1.1); 

    /* Agrandir la carte de 10% au survol */ }


.card img {
    object-fit: cover;   
    
    /* assurer que img remplisse l'intégralité du conteneur tout
    en recadrant les bords supérieur et inférieur */   }


.card-title {
    font-size: 16px; }


.euro {
    font-weight: 700; }


.neutral-star {
    color: var(--main-bg-color) }


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between; }


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;  }

.hebergements-and-populaires .card-title, .card-subtitle {
        font-size: clamp(12px, 1.2vw, 16px); }
        /* clamp avec 3 argumens max et min et valeur de réference 1.2vw=1.2% de largeur de la fenêtre d'affichage (viewport) */
        /* Pour ne pas définir plusieurs font-size de différentes tailles d'écran, avec cette technique aa taille s'adapte de façon continue*/



/****** Hebergements *****/
.hebergements {
    width: 65%; }


    /* image */
.hebergements-cards img {
    width: 100%; 
    height: 124px;
    object-fit: cover;
    border: 5px solid #ffffff; 
    border-radius: 20px 20px 0px 0px; 
    box-sizing: border-box;   

    /* width 100% : image remplisse la largeur de la carte */
    /* object-fit : cover; pour que l’image ne sera pas déformée */ 
    /* border radius top left & right */
    /* box-sizing : border-box;  simplifier La taille d'élement - inclut auto la bordure et padding */
    }


    /* La carte */
.hebergements .card{
    height: 207.25px;
    margin-top: 33px;                                                /* pareil comme populaires - espace entre titre et card */ 
    padding: 0px;                                    
    border-radius: 20px;
    display: flex; flex-wrap: wrap;                                      
    box-shadow: 0px 3px 15px 0px #0000001A;                       /* ombre portée sur la carte, ombre rectangulaire autour de l'élément, 
                                                                        Décalage horizontal 0 px verticale 3px, flou 15px, étalement 0px,
                                                                        couleur noir avec une opacité 10% */
    }  

.hebergements-cards a { 
    width: 30% ;
}  /* largeur en %  width: 250.33px; = (card 250/conteneurcard 871)*100 = 29% */


    /* Le contenu de la carte */
.hebergements-cards .card-content {
    width: 100%;                                                     /* width: 250.33px; = (cardcontent 250px/card250)*100 = 100%   */
    height: 64.25px; 
    padding: 0px 15px 0px 15px;                                      /* padding left et right */                                                            
    display: flex; flex-direction: column;                           /* flexbox - les cartes verticales avec un espace égale */
    justify-content: space-between;   }


    /* Espace entre les éléments de contenu de la carte */
.hebergements .card-title { 
    margin-top: 0px;                                                 
    margin-bottom: 4px; 

    /* margin top 0px pour coller l'élément en haut */
    /* margin-bottom 4px car l'espace entre les éléments est 4px = gap */   }
                                                   

.hebergements .card-subtitle {
    margin: 0px; 
    /* le margin top de p de card-subtitle basé sur le p de la page */   }  


.hebergements .card-rating {  
    margin-top: 4px; }                    


/* la liste des cartes hebergements */
.hebergements .hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    /* espaces égaux entre les cartes*/   }                             


/*** Afficher plus ***/
.afficher-plus h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;                                               /* espace entre list card et afficher plus*/
    margin-bottom: 0px;                                             /* coller en bas comme la maquette */
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ******/
.activites {
    background: #FFFFFF;
    padding: 30px;                                              /* padding de conteneur activités*/
    margin-top: 30px;                                           /* pour le conteneur activités */
    margin-bottom: 30px;                                        /* pour qu'il soit pas coller en haut avec hebergements-populaires et en bas avec footer */
}

.activites .section-title { 
    margin-bottom: 30px;                            
    /* Espace entre titre et carte - le gap au milieu de conteneur est 30px*/
    
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}       

/* Flexbox pour la liste des cartes activités */
.activites-cards { 
    display: flex;
    justify-content: space-between;  
    flex-direction: row;
} 

.activites-cards a {
    width: 23%;
    
    /* (carte activité 297px/ conteneur carte 1280px) * 100 = 23%  */
}

.activites-cards .card {         
    display: flex; flex-direction: column;                                 /* le contenu de la carte soit verticalement */                                       
    box-shadow: 0px 3px 15px 0px #0000001A;                              /* ombre portée sur la carte */
    padding: 0px; 
    height: 439px; 
    width: 100%;  /* width: 297.5px; */
 }
  

.activites-cards img {
    width: 100%;                                                            
    height: 380px;
    border: none;
    border-radius: 20px 20px 0px 0px;     
    object-fit: cover; 

    /* width 100% : image remplisse la largeur de la carte   ou Width : 297.5px;  */
    /* border radius top left et top right */ 
    /* laisser .card img{ object-fit: cover;} pour que l’image ne sera pas déformée*/
}

.activites-cards .card-content {
    padding-left: 19px;  
    height: 59px;  /*fixed*/                                              
}


/***** Footer ******/
 footer {
    display: flex; flex-direction: row; 
    justify-content: space-between; 
    background: #F2F2F2;
    padding: 20px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    width: 33%; 

    /* pourcentage = (446px/1340px)*100= 33% */
    /* Diviser la largeur de footer-link 446px par la largeur footer (élément parent) 1340px 
       et puis multiplier le résultat par 100 pour obtenir le pourcentage */
    
}

.footer-link h3 {
    font-size: 18px;
    margin: 0px;
    width: fit-content;

   /* fit-content : pour ne pas dépasser la largeur de contenu, s'assurer que les cliques se font uniquement sur le txt du lien <a> , 
    en évitant de ne pas cliquer sur les espaces vide autour */
}

.footer-link a {
    padding-top: 15px;
    width: fit-content;
}

.footer-link a:hover {
    color: #0065FC;

    /* la couleur du lien en bleu au survol */ }



